
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CarRentLayout.cshtml";
}


<div class="starter-template">
    <h2>Welcome to Car Rental</h2>
    <p class="lead">We are glad you choose our company.<p>
    <p>Please Login or register for applying rent details .<br /></p>
</div>
