USE [master]
GO
/****** Object:  Database [CarRent.DAL.RentContext]    Script Date: 30-Jun-17 17:06:12 ******/
CREATE DATABASE [CarRent.DAL.RentContext]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarRent.DAL.RentContext', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\CarRent.DAL.RentContext.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarRent.DAL.RentContext_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\CarRent.DAL.RentContext_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarRent.DAL.RentContext].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarRent.DAL.RentContext]
GO
USE [CarRent.DAL.RentContext]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 30-Jun-17 17:06:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Branches]    Script Date: 30-Jun-17 17:06:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches](
	[BranchId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[newline] [nvarchar](max) NULL,
	[GeoLocation_Longtitude] [float] NOT NULL,
	[GeoLocation_Latitude] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Branches] PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cars]    Script Date: 30-Jun-17 17:06:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarId] [int] IDENTITY(1,1) NOT NULL,
	[CarTypeId] [int] NOT NULL,
	[Kilometrage] [int] NOT NULL,
	[Image] [varbinary](max) NULL,
	[RentalValid] [bit] NOT NULL,
	[RentalVacant] [bit] NOT NULL,
	[LicenceNumber] [nvarchar](max) NULL,
	[BranchId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Cars] PRIMARY KEY CLUSTERED 
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CarTypes]    Script Date: 30-Jun-17 17:06:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarTypes](
	[CarTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Manufacture] [nvarchar](max) NULL,
	[Model] [nvarchar](max) NULL,
	[DailyCost] [float] NOT NULL,
	[LateReturnDailyCost] [float] NOT NULL,
	[ManufactionYear] [int] NOT NULL,
	[Gear] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CarTypes] PRIMARY KEY CLUSTERED 
(
	[CarTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RentDetails]    Script Date: 30-Jun-17 17:06:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentDetails](
	[RentDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[RentStartTime] [datetime2](7) NOT NULL,
	[RentReturnTime] [datetime2](7) NOT NULL,
	[RentActualReturnTime] [datetime2](7) NOT NULL,
	[UserId] [int] NOT NULL,
	[CarId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RentDetails] PRIMARY KEY CLUSTERED 
(
	[RentDetailsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 30-Jun-17 17:06:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 30-Jun-17 17:06:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[IDNumber] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[BirthDate] [datetime2](7) NOT NULL,
	[Gender] [int] NOT NULL,
	[EmailAddress] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Image] [varbinary](max) NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Branches] ON 

INSERT [dbo].[Branches] ([BranchId], [Name], [Address], [newline], [GeoLocation_Longtitude], [GeoLocation_Latitude]) VALUES (1, N'Lod', N'Lod Hatnufa 2', NULL, 123, 123)
SET IDENTITY_INSERT [dbo].[Branches] OFF
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([CarId], [CarTypeId], [Kilometrage], [Image], [RentalValid], [RentalVacant], [LicenceNumber], [BranchId]) VALUES (1, 4, 120000, NULL, 1, 1, N'452977', 1)
INSERT [dbo].[Cars] ([CarId], [CarTypeId], [Kilometrage], [Image], [RentalValid], [RentalVacant], [LicenceNumber], [BranchId]) VALUES (4, 7, 33000, NULL, 1, 0, N'871287', 1)
SET IDENTITY_INSERT [dbo].[Cars] OFF
SET IDENTITY_INSERT [dbo].[CarTypes] ON 

INSERT [dbo].[CarTypes] ([CarTypeId], [Manufacture], [Model], [DailyCost], [LateReturnDailyCost], [ManufactionYear], [Gear], [Description]) VALUES (1, N'Mercedes', N'DL', 120, 130, 1990, 1, N'stam description')
INSERT [dbo].[CarTypes] ([CarTypeId], [Manufacture], [Model], [DailyCost], [LateReturnDailyCost], [ManufactionYear], [Gear], [Description]) VALUES (4, N'Toyota', N'XL', 99, 100, 2000, 2, N'what?')
INSERT [dbo].[CarTypes] ([CarTypeId], [Manufacture], [Model], [DailyCost], [LateReturnDailyCost], [ManufactionYear], [Gear], [Description]) VALUES (6, N'Toyota', N'Yaris', 80, 80, 2011, 1, N'nom1')
SET IDENTITY_INSERT [dbo].[CarTypes] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Customer')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Manager')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'Guest')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [FullName], [IDNumber], [UserName], [BirthDate], [Gender], [EmailAddress], [Password], [Image], [RoleId]) VALUES (2, N'Dan Dan', N'09876554', N'dand', CAST(N'1777-01-01T00:00:00.0000000' AS DateTime2), 1, N'dd@dd.com', N'1234', NULL, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_BranchId]    Script Date: 30-Jun-17 17:06:12 ******/
CREATE NONCLUSTERED INDEX [IX_BranchId] ON [dbo].[Cars]
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CarTypeId]    Script Date: 30-Jun-17 17:06:12 ******/
CREATE NONCLUSTERED INDEX [IX_CarTypeId] ON [dbo].[Cars]
(
	[CarTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CarId]    Script Date: 30-Jun-17 17:06:12 ******/
CREATE NONCLUSTERED INDEX [IX_CarId] ON [dbo].[RentDetails]
(
	[CarId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 30-Jun-17 17:06:12 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[RentDetails]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleId]    Script Date: 30-Jun-17 17:06:12 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cars_dbo.Branches_BranchId] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branches] ([BranchId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_dbo.Cars_dbo.Branches_BranchId]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cars_dbo.CarTypes_CarTypeId] FOREIGN KEY([CarTypeId])
REFERENCES [dbo].[CarTypes] ([CarTypeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_dbo.Cars_dbo.CarTypes_CarTypeId]
GO
ALTER TABLE [dbo].[RentDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RentDetails_dbo.Cars_CarId] FOREIGN KEY([CarId])
REFERENCES [dbo].[Cars] ([CarId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RentDetails] CHECK CONSTRAINT [FK_dbo.RentDetails_dbo.Cars_CarId]
GO
ALTER TABLE [dbo].[RentDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RentDetails_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RentDetails] CHECK CONSTRAINT [FK_dbo.RentDetails_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId]
GO
USE [master]
GO
