
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/CarRentLayout.cshtml";
}

<h2>Login</h2>
<div>
    @using (Html.BeginForm("checkLogin", "Login",FormMethod.Post))
    {
        <div>
            <label>User name:</label>
            <input id="UserName" name="UserName" type="text" />
        </div>
        <div>
            <label>Password:</label>
            <input id="Password" name="Password" type="password" />
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    }
</div>
