@using CarRent.MVC.Models
@model IEnumerable<CarVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CarRentLayout.cshtml";
}

<h2>Search for car</h2>

<div class="container">
    <div class="row search-panel">
        <div class="col-md-3">
            <label>Free search</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." />
            </div>
        </div>

        <div class="col-md-3">
            <div class="input-group">
                <label>Gear type</label>
                @*option1 for the DropDown - html coded*@
                @*<select class="dropdown form-control">
                        <option value="#" selected>Select</option>
                        <option value="1">Manual</option>
                        <option value="2">Automatic</option>
                        <option value="3">Teptronic</option>
                    </select>*@

                @*option2 for the DropDown - html helper using a ViewBagItem*@
                @*@Html.DropDownList("carGearDD", (IEnumerable<SelectListItem>)ViewBag.listOfGearTypes, "==Select Gear==", new { @class = "dropdown form-control searcher" })*@
                              
                @*option3 for the DropDown - html helper based on Enum, using partial*@
                  @Html.Partial("Gears", new CarTypeVM());
            </div>
        </div>

        <div class="col-md-3">

            <div class="input-group ModelTypeSelect">
                <label>Model type</label>
                @Html.DropDownList("carModelDD", (IEnumerable<SelectListItem>)ViewBag.listOfCarTypes, "==Select Model==", new { @class = "dropdown form-control searcher" })
            </div>
        </div>
        <div class="col-md-3">
            <button id="search-btn" class="btn btn-default">Search</button>
        </div>
    </div>
    
    @*cars list*@
    <ul id="car-list-displayed" class="list-inline">
        @foreach (var carVM in Model)
        {
            <li class="list-group-item">
                @Html.Partial("carView", carVM)
                @*  for calculation ===><button class="btn btn-default"></button>*@
            </li>
        }

    </ul>

</div>





<script src="~/Scripts/jQuery/jquery-3.1.1.min.js"></script>



<script src="~/Scripts/ViewsScripts/Search.js"></script>
