@using CarRent.MVC.Models
@model IEnumerable<CarVM>



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/CarRentLayout.cshtml";
}

<h2>Search for car</h2>

<div class="container">
    <div class="row">

        <div class="col-md-3">
            <label>Free search</label>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." />
            </div>
        </div>

        <div class="col-md-3">

            <div class="input-group">
                <label>Gear type</label>
                <select class="dropdown form-control">
                    <option value="#" selected>Select</option>
                    <option value="1">Manual</option>
                    <option value="2">Automatic</option>
                    <option value="3">Teptronic</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">


            <div class="input-group">
                <label>Model type</label>
                @Html.DropDownList("carModelDD", (IEnumerable<SelectListItem>)ViewBag.listOfCarTypes, "==Select Model==", new { @class = "dropdown form-control" })
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn btn-default">Search</button>
        </div>
    </div>

    <ul class="list-inline">
        @foreach (var carVM in Model)
        {
            <li class="list-group-item">
                @Html.Partial("carView", carVM)
                @*  for calculation ===><button class="btn btn-default"></button>*@
            </li>
        }

    </ul>

</div>